
header {
  background-color: #0074D9; 
  color: white; 
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}

main {
  background-color: #AFEEEE; 
  padding: 20px;
}


#controls {
  margin-bottom: 20px;
}

#country {
  width: 200px;
  padding: 8px;
}

#lookup {
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #0074D9; 
  color: white; 
  padding: 10px;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #ADD8E6; 

tr:nth-child(even) {
  background-color: #FFFFFF; 
}

td {
  padding: 8px;
}
